$yellow: #fdce4b;
$blue: #193c62;

#menu-title{
    font-family: Vollkorn;
    font-weight: 600;
    font-size: 24px;
    color:#fdce4b;
}

#main-nav {
    border-bottom: 3px solid #55bdca;
}

#main-nav, #main-nav button{
    color:#fff;
}

#main-nav ul li a{
    color:#f1f3f5;
}

.title-bar-custom {
    color:#fdce4b;
}

.inIn{
    @include top-bar-container;
};

.outOut, .outOut ul{
    background-color: $yellow!important;
}


    
#menu-title.outOut{
    color: $blue;
}
#menu-title.inIn{
    color: $yellow;
    }
