
#menu-title{
    font-family: Vollkorn;
    font-weight: 600;
    font-size: 24px;
    color:#fdce4b;
}

#main-nav {
    border-bottom: 3px solid #55bdca;
}

#main-nav, #main-nav button{
    color:#fff;
}

#main-nav ul li a{
    color:#f1f3f5;
}